* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 70vh;
    background: #5f2c82;
    background: linear-gradient(to right, #49a09d, #5f2c82);
    font-family: "Smooch Sans", serif;
    text-transform: capitalize;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 250px;
    background-image: url(../img/visa-bg-3.jpg);
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: 36.5%;
    

    >.ax {
        width: 92%;
        height: 40px;
        display: flex;
        margin: 20px 15px;
        gap: 250px;

        >img {
            object-fit: cover;
        }
    }

    >#demo {
        width: 90%;
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.237);
        margin: 30px auto 20px;
        color: white;
        font-size: 40px;
        padding-left: 15px;
        padding-top: 10px;
    }

    >.row {
        width: 97%;
        height: 60px;
        margin: 3px 10px;
        justify-content: space-between;

        >section {

            &:first-of-type {
                width: 50%;
                margin-left: 15px;

                >h5 {
                    color: rgb(187, 187, 187);
                    font-size: 18px;
                }

                >h4 {
                    color: white;
                    font-size: 30px;
                }
            }

            &:last-of-type {
                width: 30%;

                >h5 {
                    color: rgb(187, 187, 187);
                    font-size: 18px;
                }

                >p {
                    color: white;
                    font-size: 30px;
                }
            }

            >h5 {
                width: 100%;
            }
        }
    }
}

.box {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    margin: 250px auto 0;
    padding: 100px 50px;


    >.number {
        width: 100%;
        gap: 10px;

        >label {
            width: 100%;
            font-size: 20px;
        }

        >input {
            width: 80px;
            height: 35px;
            display: flex;
            padding-left: 5px;
            box-shadow: inset 2px 2px 5px rgba(219, 216, 216, 0.689);
            border: 1px solid rgb(163, 161, 161);
            border-radius: 5px;
            font-size: 20px;
           
        }
    }

    >.txt {
        margin-top: 20px;

        >div {
            margin-bottom: 10px;
            gap: 5px;

            &:first-of-type {
                >input {
                    width: 100px;
                    height: 32px;
                    box-shadow: inset 2px 2px 5px rgba(219, 216, 216, 0.689);
                    border: 1px solid rgb(163, 161, 161);
                    border-radius: 5px;
                    font-size: 17px;
                }
            }

            >label {
                width: 100%;
                font-size: 18px;
            }

            >select {
                width: 70px;
                height: 32px;
                box-shadow: inset 2px 2px 5px rgba(219, 216, 216, 0.689);
                border: 1px solid rgb(163, 161, 161);
                border-radius: 5px;
                font-size: 17px;
                color: rgb(30, 29, 29);
            }
        }
    }

    >.holder {
        padding-top: 10px;

        >input {
            height: 30px;
            text-transform: capitalize;
        }

        >label {
            font-size: 20px;
            width: 100%;
        }
    }

    >button {
        width: 300px;
        height: 50px;
        background-color: rgba(13, 63, 119, 0.804);
        color: white;
        border: none;
        border-radius: 20px;
        margin: 40px 40px 0;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            background-color: rgba(9, 44, 84, 0.804);
        }
    }

}